{{#each this}}
    <article class="note">
        <div class="schedule">
            <div class="due">{{due}}</div>
            <div class="finished"><input id="finished_{{_id}}" type="checkbox" {{{renderFinished finished}}} data-change="setFinished">
                <label for="finished_{{_id}}">Finished{{{renderFinishedOn finishedOn}}}</label></div>
        </div>
        <div class="description">
            <span>{{caption}}</span>
            <span class="importance right">{{{renderImportance importance}}}</span>
            <details>
                <summary class="title">{{summary}}</summary>
                <p>{{description}}</p>
            </details>
        </div>
        <div class="action">
            <button class="edit" data-action="edit" data-key="{{_id}}">Edit</button>
        </div>
    </article>
{{/each}}